.fontNoir {
    background-color : black;
}

.texteBlanc {
    color:white;
}

.texteRouge {
    color:red;
}

.texteNoir {
    color:black !important;
}



/* Barre de navigation */


.ulDeroulant {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.liDeroulant {
    position: relative;
}

.aMenu {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.aMenu:link, a:visited {
    color: white;
}

.aMenu:hover, .aMenu:focus {
    outline: 2px solid white;
    background-color: #d10000;
}

/* Sous-menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    /*top: 100%;*/
    left: 0;
}

.dropdown a {
    padding: 12px 15px;
}

/* Affichage au survol */
.liDeroulant:hover, .liDeroulant:focus-within .dropdown {
    display: block;
}

/*Les trois classes qui suivent permettent à la page de prendre toute la place sur l'écrant et de coller le footer en bas de la page.*/
body {
    /* flex-direction: column;
    background-attachment: scroll; */
    display: flex;
    flex-direction: column;
    background-image: url('../images/SakuraFond.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

main {
     overflow-y: visible;
     flex:1;
} 

html, body {
    height: 100%;
    margin: 0;
}

/* Classes pour le planning */
.tabPlaning, .tabPlaning2 { /*USELESS*/
    border: 2px solid black ;
    background-color: white;
    padding: 10px;
    margin: 0;
}

.tabPlaning:hover { /*USELESS*/
  transform: scale(1.1);
}

td, th {
    border: 2px solid black !important ;
}

table {
    border-collapse: collapse;
}

/* Les deux classes qui suivent servent a réguler la taille du tableau */

.tailleTab10 {
    width: 10%;
}

.tailleTab45 {
    width: 45%;
}

.caseTableau {
    text-align: center;
    vertical-align: middle;
}

.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Permet de mettre le logo a la bonne place */

.tailleLogo {
    width: 50%;
}
.tailleLogo2 {
    width: 80%;
}

/* Classe pour gérer la canvas et les animations */
/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

canvas {
  /*position: fixed; // pour pluie de feuille au cas ou*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* optionnel */
  z-index: 9999;
}

/* Permet que font awesome ne change pas la police des listes. */

li.fa-solid {
  font-family: inherit !important;
  display: list-item;
  line-height: normal;
  white-space: normal;
}

.aoboshi-one-regular, body {
  font-family: "Aoboshi One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Permet de la supperposition d'image (logo sur photo mjc) */

/* .img-wrapper {
  position: relative;
  /* width: 400px; ou 100% 
}

.img-wrapper img { 
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; 
  /* height: auto; 
}

.img-back {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.img-front {
    
  position: absolute;
  top: 0;
  left: 0;
    width:100px;
    height: auto;
  z-index: 2;
} */


.img-wrapper {
  position: relative;
}

.img-back {
  width: 100%;
  display: block;
}

.img-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  z-index: 2;
}
.overlay {
  pointer-events: none;
}
